body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #849d8f;
}

.inner-page {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-position: 0 0;
  background-size: auto 656px;
  background-repeat: no-repeat;
}

a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

a:hover,
a:not(.footer-logo):not(.main-header-logo):focus,
a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);

  outline: none;
}

.main-header-logo,
.main-header-logo:focus,
.main-header-logo:hover,
.main-header-logo:active {
  border-bottom: none;
  font-size: 0;
  line-height: 0;
}

.button {
  padding: 10px 20px;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  border-radius: 25px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);

  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #fefefe;

  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
  border-bottom: 0;

  outline: none;
}

.button:active {
  color: #fceeec;

  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
  border-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  width: 1200px;
  margin: 0 auto;
  padding: 7px 27px 0;
  box-sizing: border-box;
}

.main-header-wrapper {
  display: flex;
  align-items: center;
}

.main-header-wrapper img {
  margin-top: 3px;
}

.user-navigation {
  display: flex;
  margin-left: auto;
}

.user-navigation a {
  margin-left: 10px;

  border-radius: 17px;
  border-color: transparent;
}

.search-link {
  position: relative;
  width: 33px;
  height: 33px;

  background-color: rgba(255, 255, 255, 0.2);
}

.search-link svg {
  position: absolute;
  top: 8px;
  left: 8px;
}

.login-link svg,
.buy-link svg {
  position: absolute;
  top: 8px;
  left: 15px;
}

path {
  fill: #ffffff;
}

.login-link,
.buy-link {
  position: relative;
  padding: 6px 17px 6px 40px;

  background-color: rgba(255, 255, 255, 0.2);
}

.buy-link-current {
  position: relative;
  padding: 6px 17px 6px 40px;

  background-color: #f8f7f4;
  color: #323232;
}

.buy-link-current:hover,
.buy-link-current:focus {
  color: #323232;
}

.buy-link-current::before {
  content: "";
  background-image: url("../img/basket-red.svg");
  width: 21px;
  height: 20px;
  position: absolute;
  top: 8px;
  left: 15px;
}

.search-link:hover,
.search-link:focus,
.login-link:hover,
.login-link:focus,
.buy-link:hover,
.buy-link:focus {
  background-color: #f8f7f4;
  color: #323232;
  border-color: transparent;
}

.search-link:hover path,
.search-link:focus path,
.login-link:hover path,
.login-link:focus path,
.buy-link:hover path,
.buy-link:focus path,
.buy-link:hover circle,
.buy-link:focus circle {
  fill: #323232;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.site-navigation {
  display: flex;
  width: 370px;
  padding: 0;
  margin: 0;
  margin-left: 13px;
  list-style: none;
  justify-content: space-between;
}

.site-navigation-item>a {
  margin: 5px 10px;
}

.site-navigation-item>a:hover,
.site-navigation-item>a:focus {
  border-radius: 20px;
  background-color: #f7f6f3;
  color: #333333;
  border-color: transparent;
  padding: 5px 10px;
  margin: 0;
  outline: none;
}

.site-navigation-item>a:active {
  color: #323232;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
  border-color: transparent;
}

.drop-down-menu {
  display: none;
  padding: 0px;
  width: 143px;

  list-style: none;
}

.drop-down-menu a {
  display: inline-block;
  width: 103px;
  min-height: 16px;
  padding: 6px 20px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #323232;

  background-color: #ffffff;
  border-bottom: 0;
}

.drop-down-menu a:hover,
.drop-down-menu a:focus {

  background-color: #fbded7;
  color: #323232;
}

.drop-down-menu a:active {
  background-color: #f6b5a5
}

.new-in-catalog a {
  font-weight: 700;
}

.main-header-info-wrapper {
  display: flex;
}

.contaсt-info {
  display: flex;
  flex-direction: column;
  width: 170px;
  margin-left: auto;
}

.info-time {
  margin: 0;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
}

.info-number {
  margin: 0;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
}


.breadcrumbs {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin: 0;
  margin-top: auto;
  padding: 0;
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  margin-right: 6px;
}

.breadcrumbs-item {
  position: relative;
  margin-bottom: 4px;

  color: #ffffff;
}

.breadcrumbs-current {
  position: relative;
  top: 4px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}


.container {
  width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 27px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.action {
  display: flex;
  flex-direction: column;
  width: 560px;
  min-height: 229px;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;

  border-radius: 15px;
  background-repeat: no-repeat;

  color: #ffffff;
}

.action h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;

  margin: 0;
}

.action p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.action a {
  display: inline-block;
  margin: auto 0px 5px auto;
}

.raspberry {
  background-color: #930039;
  background-image: url("../img/raspberry.jpg");
}

.choсolate {
  background-color: #411900;
  background-image: url("../img/choсolate.jpg");
}

.page-title {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.slider-list li:not(:first-child) {
  display: none;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-list li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  min-height: 535px;
}

.slider-list img {
  position: absolute;
  z-index: -1;
}

.slider-list:first-child img {
  top: -113px;
  left: 57px;
}

.slider-list:nth-child(2) img {
  top: -113px;
  left: 57px;
}

.slider-list:last-child img {
  top: -113px;
  left: 57px;
}

.slider-list h2 {
  width: 670px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.slider-list a {
  margin: 30px auto 40px;
  padding: 10px 35px;

  font-size: 32px;
  line-height: 44px;
  font-weight: 700;

  border-radius: 35px;
}

.slider {
  position: relative;
}

.slider-controls {
  width: 80px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 63px;
}

.slider-controls label {
  display: block;
  width: 19px;
  height: 19px;

  border: 2px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.slider-controls label {
  background-color: transparent;
}

.slider-controls input:checked+label {
    background-color: #ffffff;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: rgba(248,247,244, 0.4)
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 900px;
  margin-bottom: 40px;
}

.filter-item ul {
  margin: 0;
  margin-top: 5px;
  list-style: none;
}

.filter-item li {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  color: #ffffff;
}

.filter-item span {
  margin: 0;
  margin-left: 16px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  color: #ffffff;
}

.filter-item {
  margin-top: 10px;
  margin-right: 14px;
}

.filter-sort {
  width: 194px;
  padding: 8px 0px 8px 15px;
  margin: 0;
  margin-top: 5px;
  box-sizing: border-box;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  appearance: none;
  -webkit-appearance: button;

  border: none;
  border-radius: 20px;
  background-color: rgba(248, 247, 244, 0.2);
  background-image: url("../img/select-arrow.svg");
  background-position: 168px 14px;
  background-size: 11px 10px;
  background-repeat: no-repeat;
}

.filter-sort:active {
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/icon-down-dir.svg");
}

.filter-sort option {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.filter-fats-list {
  display: flex;
  justify-content: space-between;
  width: 415px;
  padding: 10px 17px 10px 46px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

.filter-fat-label {
  position: relative;

  cursor: pointer;
}

.filter-fat-label::before {
  content: "";
  position: absolute;
  background-image: url("../img/radio-off.svg");
  width: 25px;
  height: 25px;
  top: -3px;
  left: -35px;
  opacity: 0.8;
}

.filter-fat-item input:checked+label::before {
  background-image: url("../img/radio-on.svg");
  opacity: 0.8;
}

.filter-fillers-list {
  display: flex;
  justify-content: space-between;
  width: 703px;
  padding: 10px 20px 10px 48px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

.filter-filler-label {
  position: relative;

  cursor: pointer;
}

.filter-filler-label::before {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  top: -3px;
  left: -35px;
  opacity: 0.8;
}

.filter-filler-item input:checked+label::before {
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.8;
}

.filter-fat-label:hover::before,
.filter-fat-label:focus::before,
.filter-filler-label:hover::before,
.filter-filler-label:focus::before,
.filter-fat-item input:checked+label:hover::before,
.filter-fat-item input:checked+label:focus::before,
.filter-filler-item input:checked+label:hover::before,
.filter-filler-item input:checked+label:focus::before {
  opacity: 1;
}

.filter-fat-item input[disabled]+label::before,
.filter-fat-item input[disabled]:checked+label::before,
.filter-filler-item input[disabled]+label::before,
.filter-filler-item input[disabled]:checked+label::before {
  opacity: 0.4;
}

.filter-button {
  align-self: flex-end;
  width: 144px;
  min-height: 37px;
  padding: 7px 30px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 20px;

  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;

  background-color: #ffffff;
  border:none
}

.filter-button:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
  border-color: transparent;
}

.hits {
  padding: 0;
  margin: 0;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;
  width: 267px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.catalog-item>img {
  position: absolute;
}

.catalog-item p {
  position: absolute;
  top: 214px;
  margin: 0;
  padding: 0;
}

.catalog-item span {
  margin: 0;
  padding: 0;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item img {
  border-radius: 50%;
}

.price {
  font-size: 45px;
}

.weight {
  font-size: 30px;
}

.catalog-item h2 {
  margin: 0;
  margin-top: 13px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  text-align: center;
}

.about-us {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;


  background-color: #F2E8C9;
  background-image: url("../img/wafer.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 15px;
}

.about-preview {
  margin: 25px 20px 23px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.about-list {
  margin: 0 23px 0 77px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
}

.about-item {
  position: relative;
  margin: 0;
  margin-bottom: 22px;
  width: 480px;
  font-size: 16px;
  line-height: 22px;
}

.about-item::before {
  content: "";
  position: absolute;
  top: -16px;
  left: -57px;
  width: 49px;
  height: 49px;
}

.about-item:first-child::before {
  background-image: url("../img/ice-cream.svg");
}

.about-item:nth-child(2)::before {
  background-image: url("../img/cow.svg");
}

.about-item:nth-child(3)::before {
  background-image: url("../img/eco.svg");
}

.about-item:last-child::before {
  background-image: url("../img/thermometer.svg");
}

.news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog {
  width: 560px;
  min-height: 220px;

  display: flex;
  flex-direction: column;

  background-color: #ffffff;
  background-image: url("../img/strawberry.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.blog-title {
  margin: 23px auto 7px 20px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-info {
  width: 290px;
  margin: 7px auto auto 20px;
  padding: 0;
  border: none;
}

.blog-info:hover,
.blog-info:focus,
.blog-info:active {
  border: none;
}

.blog-info span {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  border-bottom: 2px solid rgba(50, 50, 50, 0.3);
}

.blog-info span:hover,
.blog-info span:focus,
.blog-info span:active {
  color: #e84d37;
  border-bottom: 2px solid rgba(232, 77, 55, 0.3);
}

.mailing-wrapper {
  display: flex;
  width: 560px;
  min-height: 220px;

  background-color: #f8f7f4;
  background-image: url("../img/bg-post.svg");
  border-radius: 15px;
}

.mailing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 30px 20px 35px;
  box-sizing: border-box;
  width: 549px;
  height: 211px;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.mailing p {
  margin: 0;
  padding: 0;
  width: 510px;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.mailing input {
  width: 368px;
  height: 44px;

  margin: auto auto 0 0;
  padding: 15px;
  box-sizing: border-box;

  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.mailing input:hover {
  padding-left: 14px;
  border: 2px solid rgba(154, 154, 154, 0.52);
  box-sizing: border-box;
}

.mailing input:focus {
  padding-left: 14px;
  border: 2px solid rgba(46, 136, 228, 0.52);
  box-sizing: border-box;
  outline: none;
}

.mailing input::placeholder {

  font-weight: 400;
  color: #9999999;
}

.mailing button {
  margin: auto 0 0 auto;
}

.map {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 1200px;
  min-height: 430px;
  margin-left: -27px;

  background-image: url("../img/pin.svg"), url("../img/map.jpg");
  background-position: 266px 139px, 0 0;
  background-repeat: no-repeat;
}

.map-contact-info {
  display: flex;
  flex-direction: column;

  width: 302px;
  margin: auto 27px;
  padding: 30px 25px;
  box-sizing: border-box;

  background-color: #ffffff;
  border-radius: 10px;
}

.map-contact-info p {
  margin: 0;


}

p.offline-contacts {
  margin-bottom: 17px;
}

.offline-contacts {
  font-size: 14px;
  line-height: 20px;
}

.offline-contacts span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.online-contacts {
  font-size: 14px;
  line-height: 20px;
}

.online-contacts-phone {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.online-contacts-worktime {
  font-size: 14px;
  line-height: 22px;
}

.map-contact-info .button {
  margin-top: 25px;
}

.map-contact-info .button,
.mailing .button {
  color: #fefefe;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  width: 190px;
  list-style: none;
  margin: 87px 0 38px auto;
  padding: 0;
}

.pagination-item a {
  margin: 4px 9px 3px 8px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  border-color: transparent;
}

.pagination-item a:hover,
.pagination-item a:focus {
  margin: 0;
  padding: 4px 9px 3px 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  padding: 4px 9px 3px 8px;
  border-radius: 50%;
  background-color: #ffffff;

  color: #000000;
  border-color: transparent;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus {
  margin: 0;
  padding: 4px 9px 3px 8px;
  border-radius: 50%;
  background-color: #ffffff;

  color: #323232;
  border-color: transparent;
}

.pagination-item-current a:active {
  color: #ffffff;

  background-color: none;
}

.paginator-next a {
  border-color: transparent;
}

.paginator-next:active path {
  fill: #000000;
}

.paginator-back svg {
  transform: rotate(180deg);
  margin-right: 14px;
}

.paginator-back path {
  fill: rgba(255, 255, 255, 0.2);
}

.main-footer {
  position: relative;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  box-sizing: border-box;
}

.footer-social {
  display: flex;

  width: 200px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer-social li {
  margin: 36px 11px 29px 0px;
}

.social,
.social:hover,
.social:focus,
.social:active {
  border: none;
}

.social svg {
  width: 32px;
  height: 32px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social path {
  fill: rgba(255, 255, 255, 0.7);
}

.social:hover svg,
.social:focus svg,
.social:active svg {
  border-color: rgba(255, 255, 255, 0.7);
}

.social:hover path,
.social:focus path {
  fill: #ffffff;
}

.social:active path {
  fill: #e9e9e9;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;

  width: 350px;
  margin: 35px 0px 29px 225px;
  padding: 0;


  list-style: none;
  font-size: 13px;
  line-height: 18px;
}

.footer-info li {
  width: 145px;
}

.footer-info li:last-child {
  width: 165px;
}

.footer-info li:first-child {
  position: relative;
}

.footer-info li:first-child::before {
  content: "";
  position: absolute;
  left: -22px;

  width: 15px;
  height: 13px;

  background-image: url("../img/heart.svg");
}

.footer-copyright {
  width: 190px;
  margin: 18px 0 auto auto;
  margin-top: 18px;

  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.footer-logo,
.footer-logo:hover,
.footer-logo:focus,
.footer-logo:active {
  border-color: transparent;
}

.main-footer::before {
  content: "";
  position: absolute;
  top: -3px;
  height: 1px;
  width: 1146px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* разметка попапов */

.modal {
  display: none;
}

.purchases-section {
  display: none;
}
